<nav class="navbar">
    <!-- LOGO -->
    {{/*  <div class="logo">MUO</div>  */}}

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/">Home</a></li>
        
        <li class="services">
          <a href="/portfolio/birds">Portfolio</a>

          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="/portfolio/birds">Birds </a></li>
            <li><a href="/portfolio/landscapes">Landscape</a></li>
          </ul>

        </li>

        <li><a href="/posts">Blog</a></li>
        <li><a href="/about">About</a></li>
      </div>
    </ul>
  </nav>